body{
    background-color: #571c1c;
    font-family: Arial, sans-serif;
    margin-left: 50px;
    padding: 20px;
    color: #fff;
    justify-content: center;
    align-items: center;
}
h1 {
    align-items: center;
    /* color: #333; */
}
.box{
    /* height: 700px; */
    /* display: flex; */
    
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 400px;
    overflow-wrap: anywhere;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}